<!-- Bootstrap adapted from - https://v4-alpha.getbootstrap.com/examples/starter-template/ -->

<!DOCTYPE html>
<html>

<head>
  <style>
    div1 {
       background-color: white;
       height: 280px;
       width: 400px;
       text-shadow: 2px 2px 4px #000000;
       box-shadow: 10px 10px 5px lightblue;
    }
    div2 {
       height: 220px;
       width: 400px;
    }
  </style>
    <title>Digit Image Reader</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Refernce to Bootstrap code below - view-source:http://getbootstrap.com/docs/4.0/examples/starter-template/ -->

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <img src="../static/numbers.jpg">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:5000/">Digit Recogniser</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://v4-alpha.getbootstrap.com/examples/starter-template/">Bootstrap Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/fchollet/keras/blob/master/examples/mnist_cnn.py">Data Training Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sleepokay/mnist-flask-app/blob/master/app.py">Python File Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sleepokay/mnist-flask-app/blob/master/templates/index.html">AJAX Reference</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

<body>
  <!-- The following code creates a canvas that the user can draw their digit. There is 2 buttons Predict and Clear. -->
    <div style="position:absolute; top:55px;">
            <div class="centered ">
                <canvas id="canvas" width="280" height="280" style="border: thin solid black"></canvas>
            </div>
            <h4>Draw any single digit in the above space</h4>
            <div class="centered">
                <input type="button" class="myButton btn btn-success" value="Predict">
                <input type="button" id="clearButton" class="btn btn-danger" value="Clear">

                <div1 class="right" height="" style="position:absolute; top:0px; left:750px;">
                  <div>
                    <h1>Image Recogniser Prediction:</h1>
                  </div>
                  </div1>
                  <div2 class="right" style="position:absolute; top:115px; left:750px;">
                      <h2 id="result"></h2>
                  </div2>
                
            </div>
        </div>

      <!-- The following code was taken and adapted from https://github.com/sleepokay/mnist-flask-app/blob/master/templates/index.html-->
      <div style="position:absolute; top:200px;">
      <script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
	    <script src="{{url_for('static',filename='index.js')}}"></script>
	    <script type="text/javascript">   
	   		$(".myButton").click(function(){
	   			$('#result').text('  Predicting...');
	   			var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL('image/png');
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict/",
	   				data: img,
	   				success: function(data){
	   					$('#result').text('The predicted output for your image is: ' + data);
	   				}
	   			});
	   		});
	   </script>
      </div>
      

</body>

</html>