<!-- Bootstrap adapted from - https://v4-alpha.getbootstrap.com/examples/starter-template/ -->

<!DOCTYPE html>
<html>

<head>
  <!-- CSS Styling -->
  <style>
    div1 {
       background-color: white;
       height: 280px;
       width: 400px;
       text-shadow: 2px 2px 4px #000000;
       box-shadow: 10px 10px 5px lightblue;
    }
    div2 {
       height: 220px;
       width: 400px;
    }
    h4 {
      font-weight: 900;
    }
  </style>
    <title>Digit Image Reader</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Refernce to Bootstrap code below - view-source:http://getbootstrap.com/docs/4.0/examples/starter-template/ -->

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <img src="../static/numbers.jpg">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:5000/">Digit Recogniser</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links to References of my project -->
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://v4-alpha.getbootstrap.com/examples/starter-template/">Bootstrap Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/fchollet/keras/blob/master/examples/mnist_cnn.py">Data Training Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sleepokay/mnist-flask-app/blob/master/app.py">Python File Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sleepokay/mnist-flask-app/blob/master/templates/index.html">AJAX Reference</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

<body>
  <!-- The following code creates a canvas that the user can draw their digit. There is 2 buttons Predict and Clear. -->
    <div style="position:absolute; top:56px;">
            <div class="centered ">
                <canvas id="myCanvas" width="280" height="280" style="border: thin solid black"></canvas>
            </div>
            <h4>Draw any single digit in the above space</h4>
            <div class="centered">
                <input type="button" class="myButton btn btn-success" value="Predict">
                <input type="button" id="clearButton" class="btn btn-danger" value="Clear">

                <div1 class="right" height="" style="position:absolute; top:0px; left:750px;">
                  <div>
                    <h1>Image Recogniser Prediction:</h1>
                  </div>
                  </div1>
                  <div2 class="right" style="position:absolute; top:115px; left:750px;">
                      <h2 id="result"></h2>
                  </div2>
                
            </div>
        </div>

      
      <div>
      <script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
	    <!-- Code Adapted from - https://github.com/sleepokay/mnist-flask-app/tree/master/static -->
      <!-- The following code is used to allow the user to draw a digit on a canvas -->
      <script>
        (function() {
                var canvas = document.querySelector("#myCanvas");
                var context = canvas.getContext("2d");
                canvas.width = 280;
                canvas.height = 280;

                var Mouse = {x:0, y:0};
                var lastMouse = {x:0, y:0};
                context.fillStyle = "white";
                context.fillRect(0, 0, canvas.width, canvas.height);
                context.color = "lightblue";
                context.lineWidth = 7;
                  context.lineJoin = context.lineCap = 'round';
                
                debug();

                canvas.addEventListener("mousemove", function(e) {
                  lastMouse.x = Mouse.x;
                  lastMouse.y = Mouse.y;

                  Mouse.x = e.pageX - this.offsetLeft-0;
                  Mouse.y = e.pageY - this.offsetTop-60;
                }, false);

                canvas.addEventListener("mousedown", function(e) {
                  canvas.addEventListener("mousemove", onPaint, false);
                }, false);

                canvas.addEventListener("mouseup", function() {
                  canvas.removeEventListener("mousemove", onPaint, false);
                }, false);

                var onPaint = function() {	
                  context.lineWidth = context.lineWidth;
                  context.lineJoin = "round";
                  context.lineCap = "round";
                  context.strokeStyle = context.color;
                
                  context.beginPath();
                  context.moveTo(lastMouse.x, lastMouse.y);
                  context.lineTo(Mouse.x,Mouse.y );
                  context.closePath();
                  context.stroke();
                };

                function debug() {
                  $("#clearButton").on("click", function() {
                    context.clearRect( 0, 0, 280, 280 );
                    context.fillStyle="white";
                    context.fillRect(0,0,canvas.width,canvas.height);
                  });
                }
              }());
      </script>
      <!-- The following code was taken and adapted from https://github.com/sleepokay/mnist-flask-app/blob/master/templates/index.html -->
	    <script type="text/javascript">
      // When user clicks the predict button the following text will appear   
	   		$(".myButton").click(function(){
	   			$('#result').text('Analysing your image...');
           // Sets a global variable to the prefix to the root of the application. Reference (http://flask.pocoo.org/docs/0.12/patterns/jquery/).
	   			var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
           // Sets canvasObj as myCanvas which is the canvas the user draws their digit to
	   			var canvasObj = document.getElementById("myCanvas");
           // Sets img to the saved image the user draws
	   			var img = canvasObj.toDataURL('static/image/jpg');
           // AJAX POST method that uses the predict route in digitImageReader.py file. It has a success fuction that changes the result text from 'Analysing your image...' to the number predicted by the application.
            $.ajax({
              type: "POST",
              url: $SCRIPT_ROOT + "/predict/",
              data: img,
              success: function(data){
                $('#result').text('The predicted output for your image is: ' + data);
              }
            });
          });
	   </script>
      </div>
      

</body>

</html>